<div class="content">
  <div class="position-relative">
    <p>
      This is the CV zone. CV download available! Get 'em while they're fresh!
    </p>
    <div class="mt-5">
      <a href="CV 2024 August.pdf">
        <img class="download-me" src="assets/cv_9227673.png"
      /></a>
    </div>
    <div
      class="canvas-container position-absolute d-flex align-items-center justify-content-center w-100 h-0"
    >
      <canvas id="thecanvas" width="1000" height="1000"></canvas>
    </div>
  </div>
</div>
