<div class="d-flex" style="color-scheme: dark">
  <div class="d-flex flex-column">
    <div class="w-100 d-flex justify-content-center">
      <h2>Projects</h2>
    </div>
    <div
      class="overflow-auto d-flex justify-content-center"
      style="max-height: 92vh; width: 100vw"
    >
      <div
        class="d-flex flex-row flex-wrap gap-2"
        style="width: 65%; height: 100%"
      >
        <div class="d-flex flex-wrap gap-2 w-100">
          @for(tag of allTags; track tag){
          <div
            (click)="filterProjects(tag)"
            style="border-radius: 200px"
            [ngClass]="{
              'fw-bold': selectedTags.includes(tag),
            }"
            class="border p-1 word-break"
          >
            {{ tag }}
          </div>
          }
        </div>
        @for(item of filteredProjects; track item){
        <app-project class="project" [project]="item"></app-project>
        }
        <div class="w-100 h-25"></div>
      </div>
    </div>
  </div>
</div>
