<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<nav>
  <div style="display: flex; justify-content: center" class="header">
    <ul style="list-style: none; display: flex">
      <li>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li><a>Me</a></li>
      <li>
        <a>For recruiters</a>
        <ul class="dropdownMenu">
          <li><a>Full stack Web developer</a></li>
          <li><a>Game developer</a></li>
        </ul>
      </li>
      <li>
        <a
          routerLink="portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Portfolio</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
