<div class="message">
  <h1 style="font-size: 10vw">Alen Veselič</h1>
  <p>OH noes!</p>
  <p>You've caught me under construction :o</p>
  <p>
    Here have Alen's updated
    <a class="cvLink" href="CV 2024 August.pdf">CV</a> and be on your way :)
  </p>
  <p>
    Don't hesitate to come back and check up on us though. We are making good
    progress here :D
  </p>
  <div style="display: flex; justify-content: center">
    <a
      class="animationsLink"
      href="https://devdevout.com/css/css-animated-backgrounds"
      >Animations source</a
    >
  </div>
</div>

<div style="display: flex">
  <div class="construction"></div>
  <div class="placeholder"></div>
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="construction"></div>
</div>
